:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(201,33%,16%);
    --textColor: hsl(240,4%,36%);
    --whiteColorDeam: hsl(0,0%,93%);
    --greyText: rgb(190, 190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor: rgb(240,240,246);
    --cardBG: rgb(225,225,235);
    }

    .productPage__container{
        display: flex;
        padding: 2rem;       
        align-items: start;
        justify-content: center;
        flex-wrap: wrap;
     
        .productPage__img{
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 1rem;
          padding-top: 7rem;
          img{
            border-radius: 1rem;
          }
        }
        .productPage__title{
           position: relative;
           padding: 6rem 5rem;
           flex: 1;
           display: flex;
           align-items: start;
         .productPage__text{
            position: sticky;
            top: 10rem;
            padding: 1rem 1rem 1rem 5rem;
            display: flex;
            flex-direction: column;
            max-width: 80rem;
            button{
             width: 10rem;
             height: 2rem;
             background: var(--PrimaryColor);
             color: var(--whiteColor);
             border-radius: 5px;
             align-items: center;
             margin: 3rem ;
             justify-content: center;
             cursor: pointer;
            }
            p{
                font-size: 1.6rem;
                font-weight: 400;
                color: var(--PrimaryColor);
            }
         }
        }
    }

    .travelProject__newsPage-container{
        h1{
            padding-top: 10rem ;
        }
    }

    .travelProject__packages-container{
        h1{
            padding-top: 10rem;
        }
    }

    .travelProject__contactPage-container{
        h1{
            padding-top: 9rem;
        }
    }


    .travelProject__purchasing-container{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 100vh;

        .overlay{
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgb(47,106,127);
            top: 0;
            bottom: 0;
            z-index: 1;
            mix-blend-mode: hard-light;
        }
       video{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
       }
       .travelProject__purchasing-input-wrapper{
        position: relative;
        padding: 2rem 1rem;
        background: var(--whiteColor);
        border-radius: 10px;
        gap: 1rem;
       width: 70%;
       label{
        display: block;
        color: var(--textColor);
        padding-bottom: 10px;
        font-size: 13px;
        font-weight: 500;
       }
       .travelProject__btn{
        
        Button{
            width: 10rem;
            height: 2rem;
            background: var(--PrimaryColor);
            color: var(--whiteColor);
            border-radius: 5px;
            align-items: center;
            margin: 3rem ;
            justify-content: center;
            cursor: pointer;
           }
       }
      
        .input{
        height: 44px;
        padding: 0 1rem;
        background: var(--inputColor);
        border-radius: 3px;
        input{
            background: none;
            border: none;
            outline: none;
            max-width: 50px;
            font-size: 13px;
            font-weight: 500;
            &::placeholder{
                font-size: 13px;
            }
        }
        }
        
       }
    }


    @media screen and (max-width:1400px){

    .productPage__container{
        .productPage__title{
            padding: 5rem 2.5rem;
            .productPage__text{
                p{
                    font-size: 1.3rem;
                }
            }
        }
    }
        }


        @media screen and (max-width:1300px){

            .productPage__container{
                .productPage__title{
                    padding: 3rem 1rem;
                    .productPage__text{
                        p{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
                }

                @media screen and (max-width:1100px){

                    .productPage__container{
                        display: flex;
                        flex-direction: column;
                       padding: auto;
                        .productPage__title{
                            // padding: 3rem 1rem;
                           
                            .productPage__text{
                                padding-left: 0;
                                p{
                                    font-size: 0.9rem;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                        }